<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script>
        setInterval("carga()",300000);
 
        function carga(){
        location.reload()
        }
    </script>
</head>
<body>
    <div style="width: 100%;">
        <div>
            <iframe frameborder="0" width="800" height="800" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://bit.ly/reservaciones-csf" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"  X-Frame-Options: "SAMEORIGIN">
            </iframe> 
        </div>
    </div>
    
</body>
</html>