<!DOCTYPE html>
<head>
    <!-- <script type="text/javascript">
        async function refresh() {
        btn.disabled = true;
        dynamicPart.innerHTML = "Loading...";
        dynamicPart.innerHTML = await (await fetch(url)).text();
    }
      </script> -->
</head>

<body>
    <div style="width: 100%;">
        <div style="width: 100%;">
            <div style="position: relative; padding-bottom: 200.00%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800" height="1600" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/628792247ae7de0011ca5430" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
            </div> 
        </div>
        <!-- <div id="time">
            <iframe frameborder="0" width="800" height="800" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://bit.ly/reservaciones-mty" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"  X-Frame-Options: "SAMEORIGIN">
            </iframe> 
        </div> -->
    </div>
    </body>

</html>